.carouselWrapper {
    display: flex;
    max-width: 991px;
    flex-direction: column;
  }
  
  .carousel {
    background-color: rgba(247, 181, 202, 0.5);
    display: flex;
    min-height: 757px;
    width: 100%;
    align-items: center;
    gap: 12px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 14px 16px;
    box-sizing: border-box;
  }
  
  .cardGridContentList {
    border-radius: 20px;
    background-color: #faf7f0;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 730px;
    flex-direction: column;
    flex-grow: 1;
    width: 724px;
    margin: auto 10;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .carouselHeading {
    width: 94px;
    color: var(--sds-color-text-default-default);
    letter-spacing: -0.48px;
    font: var(--sds-typography-heading-font-weight) var(--sds-typography-heading-size-base) / 1.2 var(--sds-typography-heading-font-family);
  }
  
  .cardsContainer {
    display: flex;
    margin-top: 9px;
    width: 100%;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
  }
  
  .card {
    border-radius: 8px;
    background-color: #faf7f0;
    min-width: 240px;
    width: 100%;
    padding: 24px 24px 10px;
    border: 1px solid #f0a8d0;
    box-sizing: border-box;
  }
  
  .cardContent {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
  }
  
  .imageWrapper {
    width: 25%;
  }
  
  .cardImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 160px;
    min-width: 160px;
    max-width: 100%;
  }
  
  .textContent {
    width: 75%;
  }
  
  .cardBody {
    display: flex;
    min-width: 160px;
    min-height: 137px;
    width: 100%;
    flex-direction: column;
  }
  
  .cardText {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .cardTitle {
    color: var(--sds-color-text-default-default);
    letter-spacing: -0.48px;
    font: var(--sds-typography-heading-font-weight) var(--sds-typography-heading-size-base) / 1.2 var(--sds-typography-heading-font-family);
  }
  
  .cardDescription {
    color: var(--sds-color-text-default-secondary);
    margin-top: 8px;
    font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) / 22px var(--sds-typography-body-font-family);
  }
  
  .buttonWrapper {
    display: flex;
    margin-top: 16px;
    width: 100%;
    align-items: center;
    gap: 16px;
    color: var(--background_2, #faf7f0);
    font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) / 1 var(--sds-typography-body-font-family);
  }
  
  .cardButton {
    align-self: stretch;
    border-radius: 8px;
    background-color: #f7b5ca;
    gap: 8px;
    overflow: hidden;
    margin: auto 0;
    padding: 12px;
    border: 1px solid #f7b5ca;
  }
  
  .itemLast {
    border-radius: 20px;
    background-color: #faf7f0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    flex-grow: 1;
    width: 149px;
    margin: auto 0;
    padding: 29px 8px;
  }
  
  .profileImage {
    aspect-ratio: 0.99;
    object-fit: contain;
    object-position: center;
    width: 152px;
    border-radius: 100px;
    justify-items: center;
  }
  
  .infoWrapper {
    display: flex;
    margin-top: 20px;
    min-height: 267px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font: var(--sds-typography-body-size-medium) / 1.4 var(--sds-typography-body-font-family);
    box-sizing: border-box;
    justify-content: center;
  }
  
  .infoTitle {
    color: var(--sds-color-text-default-secondary);
    font-weight: var(--sds-typography-body-font-weight-strong);
  }
  
  .infoDescription {
    color: var(--sds-color-text-default-tertiary);
    font-weight: var(--sds-typography-body-font-weight-regular);
  }
  
  .actionButton {
    border-radius: 100px;
    background-color: #f7b5ca;
    display: flex;
    margin-top: 165px;
    min-height: 67px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    color: var(--background_2, #faf7f0);
    letter-spacing: var(--Label-Large-Tracking, 0.1px);
    justify-content: center;
    font: 500 var(--Label-Large-Size, 14px) / var(--Label-Large-Line-Height, 20px) var(--Label-Large-Font, Roboto);
  }
  
  .buttonLabel {
    align-self: stretch;
    width: 100%;
    gap: 8px;
    flex: 1;
    height: 100%;
    padding: 10px 24px;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .carousel {
      max-width: 100%;
    }
  
    .cardGridContentList {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .carouselHeading {
      white-space: initial;
    }
  
    .cardsContainer {
      max-width: 100%;
    }
  
    .card {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .cardContent {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .imageWrapper {
      width: 100%;
    }
  
    .cardImage {
      margin-top: 40px;
    }
  
    .textContent {
      width: 100%;
    }
  
    .cardBody {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .cardText {
      max-width: 100%;
    }
  
    .cardTitle {
      max-width: 100%;
    }
  
    .cardDescription {
      max-width: 100%;
    }
  
    .buttonWrapper {
      max-width: 100%;
      white-space: initial;
    }
  
    .cardButton {
      white-space: initial;
    }
  
    .itemLast {
      white-space: initial;
    }
  
    .profileImage {
      margin: 0 9px;
    }
  
    .infoWrapper {
      white-space: initial;
    }
  
    .actionButton {
      white-space: initial;
      margin: 40px 0 0 9px;
    }
  
    .buttonLabel {
      white-space: initial;
      padding: 0 20px;
    }
  }