.searchSection {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
  min-width: 500px;
}

.searchInput {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  color: var(--color-primary); /* fix: not grey */
  background-color: var(--color-background);
  outline: none;
}

.searchInput::placeholder {
  color: var(--color-primary) /* make sure this is readable */
}

.searchButton {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.searchButton:hover {
  background-color: var(--color-secondary);
}
