.bioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-width: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;

}

.username {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 0;
  padding: 0;


}

.cardBio {
  background-color: var(--color-primary);
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.cardBodyBio {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 0;
  width: 100%;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.bio {
  background-color: var(--color-text-white);
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  margin: 2px;
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 1 auto;
  min-width: 100px;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: background-color 0.3s ease;
}

.dpContainer {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  overflow: visible; /* Ensure no size restriction */
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
}


.bioImg {
  height: 20rem; /* Define size */
  width: 20rem;
  border-radius: 50%; /* Make it round */
  object-fit: cover; /* Ensure it covers the space */
  border: 2px solid var(--color-primary); /* Optional for a styled border */
  margin: 0;
}


@media (max-width: 800px) {
  .bioImg {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 801px) {
  .bioImg {
    height: 100px;
    width: 100px;
  }
}

.icon:hover {
  background-color: var(--color-secondary);
}

.icon2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.icon2:hover {
  background-color: var(--color-secondary);
}

.squareButton {
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  font-weight: bold;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.squareButton:hover {
  background-color: var(--color-secondary);
}

.buttonGroup {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  gap: 10px; /* Adds space between the buttons */
  margin-top: 10px; /* Adds some spacing above the button group */
}

.bioContainer2 {
  position: relative;
  display: inline-block;
  overflow: visible;
  min-width: 300px;
  padding: 10px 0;
}

.section {
  margin-top: 10px;
}

