/* Main container for the blog entries page */
.viewBlogEntries {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Title styling */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 20px;
}

/* Wrapper for all blog posts */
.postContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Individual blog post card */
.postCard {
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Stack content vertically */
  justify-content: space-between;
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.postContent {
  flex: 1; /* Fill remaining space */
}

.postCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image styling */
.postImage {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.postImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Title of the blog post */
.postTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.postTitle:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* Details section of the blog post */
.postDetails {
  text-align: left;
  color: var(--color-text-white);
  font-size: 0.9rem;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Likes and metadata styling */
.postInfo {
  margin: 5px 0;
  color: var(--color-background);
}

.postLikes {
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.likeIcon {
  font-size: 1.2rem;
}

/* Error message styling */
.error {
  color: #e68484;
  font-size: 1.2rem;
  margin-top: 20px;
}

/* Styling when no posts are found */
.noPostsFound {
  color: #999;
  font-size: 1.5rem;
  font-style: italic;
}

.adminActions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.editButton,
.deleteButton {
  border: none;
  padding: 4px 8px;
  font-size: 0.8rem;
  margin: 4px;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.editButton {
  background-color: #1cc198;
}

.editButton:hover {
  background-color: #169d7b;
}

.deleteButton {
  background-color: #e68484;
}

.deleteButton:hover {
  background-color: #c56f6f;
}

.heart {
  color: #e68484;
}
